<div class="panel panel-primary" *ngIf='hero'>
  <div class="panel-heading" style='font-size:large'>
    {{pageTitle + ': ' + hero.heroName}}
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">Hero Name: </div>
          <div class="col-md-6">{{hero.heroName}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Real Name: </div>
          <div class="col-md-6">{{hero.realName}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Strength: </div>
          <div class="col-md-6">{{hero.heroStrength}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Nature: </div>
          <div class="col-md-6">{{hero.heroNature}}</div>
        </div>
      </div>
      <div class="col-md-6">
        <img class="center-block img-circle"
             [style.width.px]='400'
             [style.margin.px]='2'
             [src]='hero.imageUrl'
             [title]='hero.heroName'
        >
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <a class="btn btn-default" (click)='onBack()' style='width:80px' >
      <i class="glyphicon glyphicon-chevron-left">Back</i>
    </a>
  </div>
</div>
